:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.42px;
}

.title {
  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 500;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.button {
  color: var(--second-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* ======== Хедер сайту ======== */
.site-header {
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo span {
  color: var(--accent-color);
}

.site-nav {
}

.link.current {
  color: var(--accent-color);
}

.contact-nav {
}

.contact-nav .link {
  color: var(--primary-text-color);
}

.contact-nav .link:hover {
  color: var(--accent-color);
}

/* === Основний контент головної сторінки === */

.home-page {
}

/* Ефективні рішення */
.solutions {
  background-color: #2f303a;
}

.solutions-title {
  color: var(--primary-bg-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.solutions .button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
}

/* Особливості */
.features {
}

.features-title {
}

.features-list {
}

.features-item {
}

.features-item-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.features-item-text {
}

.features-list-item {
}

/* Чим ми займаємося */
.employment {
}

.employment-title,
.team-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.employment-list {
}

/* Наша команда */
.team {
  background-color: var(--second-bg-color);
}

.team-list {
}

.team-list .title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team-list .text {
  font-size: 16px;
  letter-spacing: 0.48px;
}

/* ======== Футер сайту ======== */
.site-footer {
  background: #2f303a;
}

.site-footer .logo {
  color: var(--primary-bg-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.site-footer .logo:hover,
.site-footer .logo:focus {
  color: var(--accent-color);
}

.site-footer .logo span {
  color: var(--accent-color);
}

.site-footer .address span {
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.42px;
  font-style: normal;
}

.link.mail,
.link.tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.42px;
  font-style: normal;
  font-weight: 400;
}

.link.mail:hover,
.link.tel:hover {
  color: var(--accent-color);
}

/* === Основний контент сторінки Портфоліо === */
.portfolio-page {
}

/* Портфоліо */
.portfolio {
}

.portfolio-page-title {
}

.filter-list {
}

/* Список наших робіт */
.portfolio-list {
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio-list p.text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}
